// Override default variables before the import
$body-bg: #F4DFC5;

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

$as-primary: #F05A28;
$as-secondary: #F4DFC5;

$as-dark: #2C2723;

body {
	padding: 0 !important;
	margin: 0 !important;
}

a{
	text-decoration: none;
}

/* Footer */
.globalfooter {
	background-color: $as-dark;
	color: $as-secondary;
}

.minilogo {
	text-align: center !important;
	img.logo {
		width: 50px;
	}
}

.globalfooter {
	padding-top: 1em;
	.footercard {

		&.sitelinks {
			a.menulink {
				text-align: justify;
			}
			div:after {
				content: "";
				display: inline-block;
				width: 100%;
			}

		}
		a {
			text-decoration: none;
			color: $as-secondary
		}


		h3 {
			color: $as-primary;
		}
		h4 {
			color: $as-secondary;
		}
	}
}


// Global Header
.AMHeader {
	.bannerHolder {
		background: center url('img/banners/hotel_front.png');
		// background-size: inherit;
		// background-repeat: no-repeat;
		background-size: cover;
		height: 400px;
		text-align: left;

		.AMTitleImage {
			margin: 10px auto auto 10px;
		}
	}

	.logo-holder {
		margin-top: -90px;

		.AMTitleImage {
			padding: 10px;
		}
	}
}


.home-content {
	text-align: left;
	.schedules {
		.schedule-card {
			padding-top: 2em;
		}
		h4 {
			color: $as-dark;
			font-weight: bold;
		}
		
		h5, h2 {
			color: $as-primary;
			font-weight: bold;
			label{
				font-size: 4rem;
				color: $as-dark;
				span {
					font-size: 14px;
				}
			}
		}
	}

	.foodcard {
		width: 300px;
		.label {
			padding: 15px 0 0 0;
		}
		img {
			width: 100%;
		}
	}
}



.menu {
	&.ampage {
		padding: 20px 20px;
		text-align: left;
		.menu-item-title {
			margin-top: 20px;
			color: $as-primary;
			.title-text {
				font-weight: bold;;
				border-bottom: 1px solid $as-primary;
			}
		}
		.menu-item {
			.item-price {
				text-align: right;
				color: $as-primary;
			}
		}
	}

}



.globalnav {
	$row_height: 45px;
	align-items: center;

	.row {
		height: $row_height;
	}
	
	.top-banner {
		color: $as-secondary;
		padding: 10px 0;
		background-color: $as-primary;
		&.left-item {
			text-align: left;
		}
		
	}

	.logo-menu {
		padding: 10px 0;
		padding-left:  10px;
		margin-bottom: -$row_height;
		z-index: 10;
		position: relative;
	}
}

.am-home-menu-button{
	width: 200px;
	padding: 15px 15px 10px 15px;
	background-color: $as-primary;
	color: $as-secondary;
	text-decoration: none;
	display: inline-block;
	
	.am-link-arrow {
		float: right;
	}
}

.am-home-menu-button:hover{
	text-decoration: none;
}